body{
    display: flex;
    flex-direction: row;
    background-color: darkslateblue;
}

.tables{
    width: 30%;
    /* text-align: center; */
    border-right: solid black;
}

.tables h2{
    text-align: center;
}

.table{
    width: 98%;
    box-shadow: 1px 1px #888888;
}

.search-table{
    width:90%;
    box-shadow: 1px 1px #888888;
}
.search-foodItem{
    width:90%;
    box-shadow: 1px 1px #888888;
}

.menu{
    width: 70%;
    text-align: center;
}

.price-itemCount{
    display: flex;
    flex-direction: row;
}

.foodItem{
    text-align: start;
    box-shadow:1px 1px #888888;
    height: auto;
    margin: auto;
    cursor: pointer;
}

.categoryName{
    width: fit-content;
    border: solid rgb(248, 248, 248);
    border-style: double;
}