body{
    display: flex;
    flex-direction: row;
    
}

.tables{
    width: 30%;
    /* text-align: center; */
    border-right: solid black;
}

.tables h2{
    text-align: center;
}

.table{
    box-shadow: 1px 1px #888888;
}

.search-table{
    width:90%;
    box-shadow: 1px 1px #888888;
}
.search-foodItem{
    width:90%;
    box-shadow: 1px 1px #888888;
}

.menu{
    width: 70%;
    text-align: center;
}

.price-itemCount{
    display: flex;
    flex-direction: row;
}