*, *::after, *::before{
    box-sizing: border-box;
}

body{
    background-image: url("https://www.teahub.io/photos/full/41-417767_restaurant-menu-theme-backgrounds-menu-restaurant.jpg");
    overflow: hidden;
}

.tables{
    float: left;
    width: 25%;
    text-align: center;
    text-align: center;
    border-right: solid black;
    overflow-y: scroll;
    height: 100vh;
}

.table:hover{
    background-color: white;
}

.tables h2{
    text-align: center;
}

.table{
    width: 98%;
    box-shadow: 2px 2px black;
    text-align: start;
}

.search-table{
    width:90%;
    box-shadow: 2px 2px black;
    height:50px;
}
.search-foodItem{
    width:90%;
    box-shadow: 2px 2px black;
    height:50px;
}

.menu{
    float: right;
    width: 75%;
    padding: 0%;
    text-align: center;
    padding-left: 2px;
    overflow-y: scroll;
    height: 100vh;
}

.price-itemCount{
    display: flex;
    flex-direction: row;
}

.foodItem{
    text-align: start;
    box-shadow: 2px 2px black;
    height: auto;
    margin: auto;
    cursor: pointer;
}

.foodItem:hover{
    background-color: white;
}

.categoryName{
    width: fit-content;
    border: solid rgb(248, 248, 248);
    border-style: double;
}

/* .table-details{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.table-details.active{
    transform: translate(-50%,-50%) scale(1);
}

.table-details-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.table-details-header .table-name{
    font-size: 1.25rem;
    font-weight: bold;
}

.table-details-header .close-table-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.table-details-body{
    padding: 10px 15px;
}

#overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .5);
    pointer-events: none;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
} */

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    padding: 0px;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 0px;
    width: fit-content;
    max-width: 70%;
}

header {
    color: white;
    background-color: rgb(3, 24, 116);
    margin: 0px;
}

section {
    margin: 10px 20px;
}

.close-button {
    float: right;
    text-align: center;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

header h3 {
    padding: 10px;
    margin: 0px;
    font-family: cursive;
    color: rgb(255, 255, 255);
}

footer {
    float: right;
    margin: 10px 20px;
}

td {
    padding: 10px;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}

.fa-trash {
    color: gray;
}
